.md-google-calendar .mbsc-segmented {
    max-width: 300px;
    margin: 0 auto;
}

.google-cal-header-picker {
    flex: 1 0 auto;
}

.google-cal-header-nav {
    width: 200px;
}

/* material header order */

.mbsc-material.google-cal-header-prev {
    order: 1;
}

.mbsc-material.google-cal-header-next {
    order: 2;
}

.mbsc-material.google-cal-header-nav {
    order: 3;
}

.mbsc-material .google-cal-header-picker {
    order: 4;
}

.mbsc-material .google-cal-header-today {
    order: 5;
}

/* windows header order */

.mbsc-windows.google-cal-header-nav {
    order: 1;
}

.mbsc-windows.google-cal-header-prev {
    order: 2;
}

.mbsc-windows.google-cal-header-next {
    order: 3;
}

.mbsc-windows .google-cal-header-picker {
    order: 4;
}

.mbsc-windows .google-cal-header-today {
    order: 5;
}
