div#mySidenav {
    z-index: 9999;
    background: #2f3b47;
    box-shadow: 0 0 5px 1px rgb(0 0 0 / 5%) !important;
    -moz-box-shadow: 0 0 5px 1px rgb(0 0 0 / 5%) !important;
    -webkit-box-shadow: 0 0 5px 1px rgb(0 0 0 / 5%) !important;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 54px;
}

.sidenav a {
    padding: 8px 8px 8px 10px;
    text-decoration: none;
    font-size: 18px;
    color: #fff;
    display: block;
    border-bottom: 1px solid #607488;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #274390;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 5px;
    font-size: 40px;
    border: 0px;
    line-height: 30px;
}

.sidemenu-active a{
    background-color: #4d5b69 !important;
    color: #fff !important;
}

